.sectionTitle {
  margin: 0;
  font-family: Futura, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: transparent;
  letter-spacing: 0.14em;
  background: linear-gradient(266.56deg, #4e5fff 11.19%, #a35aff 97.17%);
  background-clip: text;
}
