.contactForm {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 107px;

  label {
    &:first-child {
      margin-top: 0;
    }
  }
}

.inputLabel {
  margin-top: 24px;
  font-family: Noto Sans, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  letter-spacing: 0.01em;

  span {
    padding: 3px 4px;
    margin-left: 8px;
    font-family: Noto Sans, sans-serif;
    font-size: 10px;
    line-height: 11px;
    color: white;
    background-color: black;
    border-radius: 2px;
  }
}

.input {
  width: 327px;
  height: 44px;
  padding: 15px 16px;
  margin-top: 12px;
  border: none;

  &:focus {
    outline: none;
  }
}

.textarea {
  width: 327px;
  height: 112px;
  padding: 15px 16px 0 16px;
  margin-top: 12px;
  resize: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.btn {
  width: 214px;
  height: 48px;
  margin-top: 40px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  color: white;
  text-align: center;
  letter-spacing: 0.4px;
  cursor: pointer;
  background: #b3b4ba;
  border: none;
  border-radius: 28px;

  &:disabled {
    background-color: pink;
  }
}
