.header {
    display: flex;
    justify-content: space-between; 
}
.logo {
    margin-top: 40px;
    margin-left: 48px;
}

.contact {
    margin-top: 40px;
    margin-right: 48px;
    font-family: Futura;
    letter-spacing: 0.24em;
}