.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 48px 0;
    height: 80px;
}

.logo {
    margin: auto 0;
}

.contact {
    font-family: Futura;
    letter-spacing: 0.24em;
    font-size: 16px;
    line-height: 21px;
    background: none;
    border: none;
}

.mainSection {
    text-align: center;
    margin-top: 141px;
}

.mainSection h1 {
    margin-bottom: 43px;
    font-size: 33px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 8px;
}

.mainSection h1 span {
    background: linear-gradient(266.56deg, #4E5FFF 11.19%, #A35AFF 97.17%);
    background-clip: text;
    color: transparent;
}

.mainSection p {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 180%;
    color: #5C5F76;
    margin-top: 40px;
}

.serviceSection {
    width: 840px;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}
.sectionTitle {
    background: linear-gradient(266.56deg, #4E5FFF 11.19%, #A35AFF 97.17%);
    background-clip: text;
    color: transparent;
    font-family: Futura;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.14em;
    margin: 0;
}

.serviceContents h3 {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    margin-top: 0;
}

.serviceSection p {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 200%;
    margin-top: 32px;
}

.serviceIndex {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.serviceIndex p {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 0;
}

.serviceSection button {
    background: linear-gradient(266.56deg, #4E5FFF 11.19%, #A35AFF 97.17%);
    border: none;
    width: 214px;
    height: 48px;
    border-radius: 28px;
    margin-top: 56px;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: white;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.companySection {
    display: flex;
    justify-content: space-between;
    width: 840px;
    margin: 0 auto;
    margin-top: 140px;
}

.companyInformation tr td:nth-child(2n+1) {
    font-family: Noto Sans;
    font-size: 13px;
    line-height: 290%;
    color: #5C5F76;
}

.companyInformation tr td:nth-child(2n+0) {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 270%;
    padding-left: 66px;
}

.contactSection {
    display: flex;
    justify-content: flex-start;
    background-color: #F7F8FA;
    width: 840px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 70px;
    margin-top: 120px;
}

.contactSection div p {
    font-family: Noto Sans;
    font-size: 12px;
    line-height: 140%;
    margin-top: 38px;
    margin-bottom: 0;
}

.contactSection div address {
    font-family: Noto Sans;
    font-size: 12px;
    line-height: 140%;
    margin-top: 24px;
}

.contactSection div address a {
    color: blue;
    border-bottom: 1px solid blue;
}

.contactSection div form {
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    margin-left: 107px;
}

.contactSection div form label {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.01em;
    margin-top: 24px;
}

.contactSection div form label:first-child {
    margin-top: 0;
}

.contactSection div form label:nth-child(4) {
    margin-top: 30px;
}

.contactSection div form label span {
    font-family: Noto Sans;
    font-size: 10px;
    line-height: 11px;
    color: white;
    background-color: black;
    border-radius: 2px;
    padding: 3px 4px;
    margin-left: 8px;
}

.contactSection div form input {
    width: 327px;
    height: 44px;
    margin-top: 12px;
    border: none;
}

.contactSection div form textarea {
    width: 327px;
    height: 112px;
    margin-top: 12px;
    border: none;
}

.btn {
    background: #B3B4BA;
    border: none;
    width: 214px;
    height: 48px;
    border-radius: 28px;
    margin-top: 40px;
    margin-left: 107px;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: white;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 84px;
    padding: 32px 48px ;
    vertical-align: middle;
}

.footer div a {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 100%;
    color: #5C5F76;
    margin: 0 16px;
}

.footer div a:first-child {
    margin-right: 32px;
}

.footer small {
    font-family: Noto Sans;
    font-size: 10px;
    line-height: 100%;
    opacity: 0.4;
}